@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
/* font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  /*color: rgba(255, 255, 255, 0.87);*/
  color: rgba(188, 75, 81);
 /* background-color: rgba(255, 207, 210, 0.952);*/
  background-image: linear-gradient(to right,/*#800080,*/ #ee9ca7 , #ffdde1);


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  
  min-width: 320px;
  min-height: 100vh;
}

@media screen and (max-width: 411px) {
    h1  {
      font-size: 150%;
      
    }

  .white_bar {
    width: 100%;
    height: 2.5px;
    background-color: rgba(69, 55, 180, 0.495);
  }

  .search {
    border-collapse: initial;
    color: rgba(188, 75, 81);
    border-color: rgba(69, 55, 180, 0.495);
    border-radius: 30px;
    border-width: 2px;
    border-style: solid;
    margin: 1px;
  }

  .character{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 30px;
    border-style: solid;
    border-color: rgba(69, 55, 180, 0.495);
    border-collapse: initial;
    border-width: 2px;
    border-style: solid;
    margin: auto;
    width: 90%;
    height: 100%;
    padding: 1em;
    margin-bottom: 1em;
    background-image: linear-gradient(to right, #77e6fa89,#f2fcfe)
  }

  .character_img{
    width: 70px;
    height: 70px;
    border-radius: 50px;
  }

  .character_name{

  }

  .character_infos{
    margin-bottom: 1em;
    font-size: 80%;
  }

  .character_buttons{
    margin-bottom: 1em;
    border-collapse: initial;
    color: white;
    /* background-color: $darkBackground;
    border-color: $globalFontColor;
    font-family: $paragraphs-font; */
    border-radius: 30px;
    border-width: 1px;
    border-style: solid;
    margin: 1px;

  }
  /* button{
    border-collapse: initial;
    color: white;
    /* background-color: $darkBackground;
    border-color: $globalFontColor;
    font-family: $paragraphs-font; 
    border-radius: 30px;
    border-width: 1px;
    border-style: solid;
    margin: 1px;
  } */

}
.addition_button{
  border-collapse: initial;
  color: white;
  /* background-color: $darkBackground;
  border-color: $globalFontColor;
  font-family: $paragraphs-font; */
  border-radius: 30px;
  border-width: 1px;
  border-style: solid;
  margin: 1px;
}
.more {
  margin-bottom: 2em;
}
@media screen and (min-width: 412px) and (max-width: 767px)
{
  #list_character{ 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
  }
  h1  {
    font-size: 150%;
    
  }

.white_bar {
  width: 100%;
  height: 2.5px;
  background-color: rgba(69, 55, 180, 0.495);
}

.search {
  border-collapse: initial;
  color: rgba(188, 75, 81);
  border-color: rgba(69, 55, 180, 0.495);
  border-radius: 30px;
  border-width: 2px;
  border-style: solid;
  margin: 1px;
}

.character{
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 30px;
  border-style: solid;
  border-color: rgba(69, 55, 180, 0.495);
  border-collapse: initial;
  border-width: 2px;
  border-style: solid;
  margin: auto;
  width: 40%;
  height: 100%;
  padding: 1em;
  margin-bottom: 1em;
  background-image: linear-gradient(to left, #77e6fa89,#f2fcfe)
}

.character_img{
  width: 70px;
  height: 70px;
  border-radius: 50px;
}

.character_name{

}

.character_infos{
  margin-bottom: 1em;
  font-size: 80%;
}

.character_buttons{
  margin-bottom: 1em;
  border-collapse: initial;
  color: white;
  /* background-color: $darkBackground;
  border-color: $globalFontColor;
  font-family: $paragraphs-font; */
  border-radius: 30px;
  border-width: 1px;
  border-style: solid;
  margin: 1px;

}
  }
  @media screen and (min-width: 768px) 
  {
    #list_character{ 
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      
      
    }
    h1  {
      font-size: 150%;
      
    }
  
  .white_bar {
    width: 100%;
    height: 2.5px;
    background-color: rgba(69, 55, 180, 0.495);
  }
  
  .search {
    border-collapse: initial;
    color: rgba(188, 75, 81);
    border-color: rgba(69, 55, 180, 0.495);
    border-radius: 30px;
    border-width: 2px;
    border-style: solid;
    margin: 1px;
  }
  
  .character{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 30px;
    border-style: solid;
    border-color: rgba(69, 55, 180, 0.495);
    border-collapse: initial;
    border-width: 2px;
    border-style: solid;
    margin: auto;
    width: 30%;
    height: 100%;
    padding: 1em;
    margin-bottom: 1em;
    background-image: linear-gradient(#77e6fa89,#f2fcfe)

  }
  
  .character_img{
    width: 70px;
    height: 70px;
    border-radius: 50px;
  }
  
  .character_name{
  
  }
  
  .character_infos{
    margin-bottom: 1em;
    font-size: 80%;
  }
  
  .character_buttons{
    margin-bottom: 1em;
    border-collapse: initial;
    color: white;
    /* background-color: $darkBackground;
    border-color: $globalFontColor;
    font-family: $paragraphs-font; */
    border-radius: 30px;
    border-width: 1px;
    border-style: solid;
    margin: 1px;
  
  }
}